.section{
  width: 100%;
  display: inline-block;
  float: left;
}

.shell{
  max-width: 1400px;
  padding-left: 60px;
  padding-right: 60px;
  margin: auto;
  display: block;
  width: 100%;
}

.section-group-features{
  padding: 60px 0 50px;
}

.section-features{
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}

.section-features-left{
  padding-bottom: 0;
}

.section-content-text{
  font-size: 28px;
  font-weight: 300;
  opacity: 0.8;
  margin-top: 30px;
}